body{
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
}
h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

p{
    color: #8f8f8f;
}

/* Headings */
.big-heading{
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}


/* Containers */
.container-fluid{
    padding: 7% 15%;
}


/* Sections */
.colored-section{
    background-color: #ff4c68;
    color: white;
}
.white-section{
    background-color: #fff;
}


/* Navbar */
.navbar{
    padding-top: 2rem; 
    padding-bottom: 5rem; 
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.5rem;
    font-weight: 200;
}


/* Title section */
#title{
    text-align: left;
    padding-bottom: 3%;
}
#title .container-fluid{
    padding: 3% 15% 7%;
    
}

/* Buttons */
.download-button{
    margin: 5% 3% 5% 0;
}


/* Title image */
.title-image{
    width: 60%;
    /*
    -webkit-transform:rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
    */
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}
.div-title-image{
    position: relative;
}

/* Features */
#features{
    position: relative;
}
.feature-title{
    font-size: 1.5rem;
}
.col-lg-4{
    padding: 5%;
}
.fa-features, .fas{
    color: #ef8172;
    font-size: 3rem;
    padding: 1rem;
}
.fa-features:hover, .fas:hover{
    color: #ff4c68;
}

/* Testimonials */
#testimonials{
    background-color: #ef8172;
}
.testimonial-image{
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
/* Pricing */
#pricing{
    padding: 100px;
}
.pricing-col{
    padding: 3% 2%;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}



.h3-cta{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
}
.btn{
    margin: 5% 1%;
}

/* Footer */
.fa-footer{
    color: black;
    font-size: 1rem;
    margin: 0.5rem;
}
.p-footer{
    padding: 1rem;
}


@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position:static;
        transform: rotate(0); /* rotate back to zero */
    }   
}